@model Core.Domain.Dtos.Shop.ProductCatDto

<div class="card card-flush py-4">
    <form asp-action="edit" class="edit-category sluggable">
        <div class="card-body pt-0">
            <div class="mb-10 fv-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Label" class="control-label"></label>
                    <input asp-for="Label" class="form-control sluggable" data-type="tax" data-generator="off" />
                    <span asp-validation-for="Label" class="text-danger"></span>
                </div>
                <div class="fv-row slug-container d-none">
                    <div class="d-flex slug-preview">
                        <span class="me-2">نامک: </span>
                        <a href="#" class="fs-6 me-2 text-primary slug-anchor"></a>
                        <span class="cursor-pointer text-dark change-slug">ویرایش</span>
                    </div>
                    <div class="d-none custom-slug-form">
                        <div class="d-flex align-items-center">
                            <span>
                                <i class="ki-outline ki-fasten fs-2x text-primary me-4"></i>
                            </span>
                            <input asp-for="Slug" data-value="@Model.Slug" placeholder="نامک را وارد کنید" class="form-control mw-250px me-3" />
                            <button class="btn btn-icon btn-light-primary me-3 custom-slug-submit">
                                <span class="indicator-label">
                                    <i class="ki-outline ki-check fs-1"></i>
                                </span>
                                <span class="indicator-progress">
                                    <span class="spinner-border spinner-border-sm align-middle"></span>
                                </span>
                            </button>
                            <button class="btn btn-icon btn-light-danger custom-slug-cancel">
                                <span class="indicator-label">
                                    <i class="ki-outline ki-cross fs-1"></i>
                                </span>
                                <span class="indicator-progress">
                                    <span class="spinner-border spinner-border-sm align-middle"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label"></label>
                    <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId"></select>
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="افزودن دسته بندی" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function(){
            var target = document.querySelector('.slug-preview');
            var blockUI = (KTBlockUI.getInstance(target) != null) ? KTBlockUI.getInstance(target) : new KTBlockUI(target);
            $('.slug-anchor').text($('input[name=Slug]').val());
            $('.slug-container').removeClass('d-none');
        });
    </script>
}
