<div id="gotoTop" class="uil uil-angle-up"></div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/corporate/plugins.min.js"></script>
<script src="~/js/corporate/functions.bundle.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script type="text/javascript">
	$(document).on('click', '.logout-btn', function () {
		$('form.logout-form').submit();
	});
</script>