@model Post

<div class="card card-flush py-4">
    <div class="card-header">
        <div class="card-title">
            <h2>دسته بندی</h2>
        </div>
    </div>
    <div class="card-body pt-0">
        <label class="form-label">موضوعات</label>
        <select class="form-select mb-2" data-control="select2" data-placeholder="Select an option" data-allow-clear="true" multiple="multiple">
            <option></option>
            <option value="Computers">Computers</option>
            <option value="Watches">Watches</option>
            <option value="Headphones">Headphones</option>
            <option value="Footwear">Footwear</option>
            <option value="Cameras">Cameras</option>
            <option value="Shirts">Shirts</option>
            <option value="Household">Household</option>
            <option value="Handbags">Handbags</option>
            <option value="Wines">Wines</option>
            <option value="Sandals">Sandals</option>
        </select>
        <div class="text-muted fs-7 mb-7">نوشته خود را در یک مقاله ثبت کنید</div>
        <a href="#" class="btn btn-light-primary btn-sm mb-10">
            <i class="ki-outline ki-plus fs-2"></i>دسته بندی جدید
        </a>
        <label class="form-label d-block">برچسب‌ها</label>
        <input id="kt_ecommerce_add_product_tags" name="kt_ecommerce_add_product_tags" class="form-control mb-2" value="" />
        <div class="text-muted fs-7">برچسبی برای نوشته خود انتخاب کنید</div>
    </div>
</div>