@model Core.Domain.Entities.User
@{
	List<Claim>? claims = ViewBag.Claims;
	var avatar = claims.FirstOrDefault(c => c.Type == "Avatar");
	var fname = claims.FirstOrDefault(c => c.Type == "FirstName");
	var lname = claims.FirstOrDefault(c => c.Type == "LastName");
}
<div class="me-3">
	<a href="#" class="btn btn-icon btn-custom btn-active-color-primary" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
		<i class="ki-duotone ki-user fs-1">
			<span class="path1"></span>
			<span class="path2"></span>
		</i>
	</a>
	<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
		<div class="menu-item px-3">
			<div class="menu-content d-flex align-items-center px-3">
				<div class="symbol symbol-50px me-5">
					@if (avatar != null)
					{
						<img alt="Logo" src="@avatar.Value" />
					}
					else
					{
						<img alt="Logo" src="~/media/avatars/300-1.jpg" />
					}
				</div>
				<div class="d-flex flex-column">
					<div class="fw-bold d-flex align-items-center fs-5">
						@if (fname != null && lname != null)
						{
							@Html.Raw($"{fname.Value} {lname.Value}")
						}
						else
						{
							@Html.Raw($"{Model.NormalizedUserName}")
						}
						<span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Pro</span>
					</div>
					<a href="#" class="fw-semibold text-muted text-hover-primary fs-7">@Model.Email</a>
				</div>
			</div>
		</div>
		<div class="separator my-2"></div>
		<div class="menu-item px-5">
			<a href="/profile/@Model.UserName" class="menu-link px-5">پروفایل من</a>
		</div>
		@if (User.IsInRole("Admin"))
		{
			<div class="menu-item px-5">
				<a asp-area="admin" asp-controller="home" asp-action="index" class="menu-link px-5">پنل مدیریت</a>
			</div>
		}
		<div class="separator my-2"></div>
		<div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="right-start" data-kt-menu-offset="-15px, 0">
			<a href="#" class="menu-link px-5">
				<span class="menu-title position-relative">
					زبان/Language
					<span class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">
						فارسی
						<img class="w-15px h-15px rounded-1 ms-2" src="~/media/flags/iran.svg" alt="" />
					</span>
				</span>
			</a>
			<div class="menu-sub menu-sub-dropdown w-175px py-4">
				<div class="menu-item px-3">
					<a href="account/settings.html" class="menu-link d-flex px-5 active">
						<span class="symbol symbol-20px me-4">
							<img class="rounded-1" src="~/media/flags/iran.svg" alt="" />
						</span>فارسی
					</a>
				</div>
				<div class="menu-item px-3">
					<a href="account/settings.html" class="menu-link d-flex px-5 active">
						<span class="symbol symbol-20px me-4">
							<img class="rounded-1" src="~/media/flags/united-states.svg" alt="" />
						</span>English
					</a>
				</div>
				<div class="menu-item px-3">
					<a href="account/settings.html" class="menu-link d-flex px-5">
						<span class="symbol symbol-20px me-4">
							<img class="rounded-1" src="~/media/flags/spain.svg" alt="" />
						</span>Spanish
					</a>
				</div>
				<div class="menu-item px-3">
					<a href="account/settings.html" class="menu-link d-flex px-5">
						<span class="symbol symbol-20px me-4">
							<img class="rounded-1" src="~/media/flags/germany.svg" alt="" />
						</span>German
					</a>
				</div>
				<div class="menu-item px-3">
					<a href="account/settings.html" class="menu-link d-flex px-5">
						<span class="symbol symbol-20px me-4">
							<img class="rounded-1" src="~/media/flags/japan.svg" alt="" />
						</span>Japanese
					</a>
				</div>
				<div class="menu-item px-3">
					<a href="account/settings.html" class="menu-link d-flex px-5">
						<span class="symbol symbol-20px me-4">
							<img class="rounded-1" src="~/media/flags/france.svg" alt="" />
						</span>French
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item px-5 my-1">
			<a asp-action="index" asp-controller="settings" class="menu-link px-5">تنظیمات حساب</a>
		</div>
		<div class="menu-item px-5">
			<form asp-area="dashboard" asp-controller="dashboard" asp-action="logout" method="post" class="logout-form" style="margin-bottom: 0 !important;">
				<a href="#" type="submit" class="menu-link px-5 logout-btn">خروج</a>
			</form>
		</div>
	</div>
</div>