<section id="slider" class="slider-element swiper_wrapper min-vh-40 min-vh-md-75" data-autoplay="9000" data-speed="800" data-loop="true" data-grab="false">
	<div class="slider-inner">

		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">

				<div class="swiper-slide dark">
					<div class="container">
						<div class="slider-caption slider-caption-center">
							<h2 data-animate="fadeInUp">اسلاید یافت نشد</h2>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
								اسلایدی برای نمایش وجود ندارد<br/>
								برای ایجاد اسلاید به بخش "مدیریت اسلایدر" مراجعه کنید"
							</p>
						</div>
					</div>
					<div class="swiper-slide-bg" style="background-color: #333;"></div>
				</div>

			</div>
			<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
			<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
			<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
		</div>

	</div>
</section>